.getreab {
  background-color: $color-white;
}

.getreab__wrapper {
  max-width: 1440px;
  margin: 0 auto 0;
  height: 458px;
  position: relative;
}

.getreab__info {
  background-color: $color-lightGreen;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
  height: 288px;
  width: 84%;
  z-index: 5;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 44.24px;
}

.getreab__home-icon {
  background-image: url("../../images/home-icon.svg");
  width: 158px;
  height: 158px;
  margin: 0 0 0 130px;
}

.getreab__text-block {
  align-self: flex-start;
}

.getreab__title {
  color: $color-white;
  @include font_32_h2;
  max-width: 571px;
  margin: 32px 0 0;
}

.getreab__text {
  color: rgba(0, 0, 0, 1);
  @include font_20;
  margin: 16px 0 0;
}

.getreab__phone-number {
  color: $color-white;
  @include font_24;
  margin: 0 0 16px;
}

.getreab__description {
  color: rgba(0, 0, 0, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.getreab__image-man {
  position: absolute;
  max-width: 679px;
  height: 519px;
  z-index: 3;
  right: 130px;
  top: 150px;
}

.getreab__line-block {
  display: flex;
  max-width: 260px;
  height: 74px;
  margin: 26px 0 0 134px;
  column-gap: 20px;
}

.getreab__first-line {
  background-color: $color-lightGreen;
  width: 180px;
  height: 8px;
}

.getreab__second-line {
  background-color: $color-lightGreen;
  width: 80px;
  height: 8px;
  align-self: flex-end;
}
