@import "./src/scss/var.scss";
@import "./src/scss/mixins.scss";

.d-flex {
  display: flex;
}

.pt-112 {
  padding-top: 112px;
}

.wrapper-on-top {
  display: none;
  height: 100px;
  background-color: $color-darkGrey;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, $color-white 50%, $color-darkGrey 50%);
}

.section-container {
  margin: 0 auto;
}

.section-left {
  position: relative;
  z-index: 1;
  flex-direction: column;
  margin-top: -200px;
  padding-left: 130px;
}

.section-left__picture {
  margin-bottom: 24px;
}

.section-left__left-line {
  margin-bottom: 66px;
  width: 180px;
  height: 8px;
  background-color: $color-lightGreen;
}

.section-left__right-line {
  position: relative;
  right: 120px + 180px;
  align-self: flex-end;
  width: 80px;
  height: 8px;
  background-color: $color-lightGreen;
}

.section-right {
  position: relative;
  left: -180px;
  padding: 47px 130px 110px 66px;
  width: 910px;
  background-color: $color-darkGrey;
}

.section-right__top {
  position: relative;
}

.section-rigth__top-text-container {
  position: relative;
  right: -200px;
}

.top__text-container {
  position: relative;
}

.top__header,
.top__text,
.top__text-your-help {
  margin-top: 0;
  margin-bottom: 0;
  width: 480px;
  color: $color-white;
}

.top__header {
  margin-bottom: 17px;
  @include font_32_h2;
}

.section-right .green {
  color: $color-lightGreen;
}

.top__text {
  margin-bottom: 42px;
  @include font_20;
}

.top__text-your-help {
  margin-bottom: 50px;
  @include font_24;
}

.section-right__bottom {
  align-items: center;
}

.section-right__bottom-img {
  margin-right: 112px;
  width: 145px;
  height: 140px;
  background-image: url(../../images/YouCanHelp/icon.svg);
  background-size: 100%;
}

.invocation__header {
  margin-top: 0;
  margin-bottom: 27px;
  max-width: 480px;
  @include font_48_h1;
  color: $color-lightGreen;
  text-transform: uppercase;
}

.invocation__btn {
  padding: 14px 18px;
  @include btn;
  text-transform: uppercase;
  background-color: $color-lightGreen;
}


@media (max-width: 1440px) {
  .pt-112 {
    padding-top: 0;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
  }

  .section-left {
    margin-top: 0;
    padding-right: 130px;
  }

  .section-left__left-line {
    margin-bottom: 20px;
  }

  .section-left__right-line {
    right: 0;
    margin-bottom: 40px;
  }

  .section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 0;
    padding-left: 130px;
    width: 100%;
  }

  .section-rigth__top-text-container {
    right: unset;
    margin: 0 auto;
  }

  .section-right__bottom-img {
    margin-right: 30px;
  }
}

@media (max-width: 950px) {
  .section-left,
  .section-right {
    padding-left: 10px;
    padding-right: 10px;
  }
}
