@import "./src/scss/var";
@import "./src/scss/mixins";

.btn {
  padding: 13px 18px;
  border: none;
  border-radius: 4px;
  background-color: $color-lightGreen;
  font-style: normal;
  @include font_18_h4;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;

  &:hover {
    background-color: $color-green;
  }

  &:active {
    background-color: $color-barkGreen;
  }

  &:focus {
    background-color: $color-lightGreen;
  }
}


@media (max-width: 1200px) {
  .btnFull {
    width: 100%;
  }
}

