.footer {
  background-color: #303030;
}

.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 60px 0;
}

.footer__fist-block {
  display: flex;
  flex-direction: column;
  padding-right: 165px;
}

.footer__logo {
  height: 48px;
  margin-bottom: 15px;
  width: 140px;
}


.footer__link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: end;
}

.footer__socials {
  padding-bottom: 45px;
}


.footer__link_type_orange {
  color: $color-orange;
  margin-bottom: 4px;
}


.footer__social {
  margin-right: 58px;
}

.footer__social:last-of-type {
  margin-right: 0;
}

.footer__linkImg {
  padding-right: 22px;
}


.footer__location {
  display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 880px) {
  .footer__content {
    flex-direction: column;
    align-items: center;
  }

  .footer__fist-block {
    padding-right: 0;
  }

}
