@import "./src/scss/var.scss";
@import "./src/scss/mixins.scss";

.visually_hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.layout {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}


.popup {
  position: relative;
  padding: 44px 80px;
  background-color: #fff;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  div:nth-child(1) {
    width: 28px;
    height: 2px;
    border-radius: 2px;
    transform: rotate(45deg);
    background-color: #000;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 28px;
      height: 2px;
      border-radius: 2px;
      transform: rotate(90deg);
      background-color: #000;
    }
  }
}

.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $color-darkGrey;

  & .title {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
  }

  & .body {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }

  & .desc {
    margin-bottom: 16px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  }

  label {
    // margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  label:nth-child(5) {
    margin-bottom: 16px;
  }

  input:not([type = 'checkbox']):not([type = 'button']) {
    width: 292px;
    height: 48px;
    padding: 0 13px;
    border: none;
    border-radius: 8px;
    background-color: #ececec;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      background-color: #E3E3E3;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
    }

    &:focus, &:active {
      outline: none;
    }
  }
}

.checkbox {
  position: relative;
  margin-bottom: 32px;

  .checkbox_input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
  }

  .checkbox_input:checked + .checkbox_label:after {
    opacity: 1;
  }

  .checkbox_label {
    display: block;
    padding-left: 24px;
    cursor: pointer;

    a {
      text-decoration: none;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 18px;
      height: 18px;
      border: 1px solid #000;
      border-radius: 2px;
      background-color: #fff;
    }

    &:after {
      content: '';
      background-image: url("../../images/GetHelpPopup/check.png");
      background-repeat: no-repeat;
      background-size: 18px 18px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 20px;
      height: 20px;
      opacity: 0;
    }
  }

  .checkbox_input:checked + .checkbox_label:after {
    opacity: 1;
  }

}

.inputError {
  height: 32px;

  p {
    color: $color-textError;
    font-size: 12px;
    line-height: 20px;
  }
}