.about-reabilitaton {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 44px;

  .container {
    max-width: 1180px;
    margin: 0 auto;
  }

  img {
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
    object-fit: cover;
  }

  h2 {
    margin: 0;
    @include font_32_h2;
  }

  p {
    margin: 0;
    @include font_20;
  }
}

.about-reabilitaton__stages {
  padding-top: 182px;
  background-image: url(../../images/aboutHeaderGroup.svg);
  background-repeat: no-repeat;
  background-position: top center;

  h2 {
    margin-bottom: 28px;
  }
}

.about-reabilitaton__descr {
  display: flex;
  margin-bottom: 97px;
  align-items: center;

  p {
    max-width: 479px;
    margin-right: 21px;
  }

  span {
    font-weight: 700;
  }

  .greenSpan {
    color: $color-lightGreen;
  }

  img {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 679px;
  }
}

.about-reabilitaton__how-to-get {

  position: absolute;
  z-index: 100;
  top: 58%;
  background-color: $color-lightGreen;
  background-image: url(../../images/aboutReabilitationHome.svg);
  background-repeat: no-repeat;
  padding: 28px 26px 77px 330px;
  background-position: left 12% center;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);

  h2 {
    max-width: 76%;
    overflow-wrap: break-word;
    margin-bottom: 16px;
    color: white;
  }

  a {
    margin-bottom: 16px;
    @include font_24;
    text-decoration: none;
    color: white;
  }

  span {
    font-weight: 700;
  }
}

.how-to-get__alone {
  display: flex;
  justify-content: flex-end;
  z-index: 8;
  height: 312px;
  position: relative;
  background-image: url(../../images/aboutReabLines.svg);
  background-repeat: no-repeat;
  background-position: left bottom 27%;

  img {
    position: absolute;
    z-index: -10;
  }
}

@media(max-width: 1200px) {
  .about-reabilitaton__stages {
    background-size: 95%;
  }

  .about-reabilitaton__stages {
    h2, p {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  .about-reabilitaton__descr {
    flex-direction: column;
    margin-bottom: 0;

    img {
      z-index: -10;
    }

    p {
      max-width: unset;
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .about-reabilitaton__how-to-get {
    position: unset;
    padding: 20px 20px 20px 220px;
    background-position: left 6% center;
  }

  .how-to-get__alone {
    height: unset;

    img {
      width: 100%;
      position: unset;
    }
  }
}

@media(max-width: 768px) {
  .about-reabilitaton__how-to-get {
    background-size: 18%;
    padding-left: 175px;
    background-position: left 7% center;

    h2 {
      @include font_22_h3;
    }
  }
}

@media(max-width: 480px) {
  .about-reabilitaton__stages {
    background-image: url(../../images/aboutHands320.svg);
  }

  .about-reabilitaton__how-to-get {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-position: left 5% top 8%;
    background-size: 21%;

    h2 {
      max-width: 88%;
      align-self: flex-end;
      padding-left: 50px;
    }
  }
}
