.desease {
  color: $color-white;
}

.disease__wrapper {
  max-width: 1440px;
  padding: 79px 0 0;
  margin: 0 auto 0;
  position: relative;
}

.disease__article {
  background-color: $color-darkGrey;
  max-width: 71.5%;
  box-sizing: border-box;
  padding: 49px 0 64px 130px;
}

.disease__title {
  max-width: 450px;
  color: $color-white;
  @include font_32_h2;
  margin: 0;
}

.disease__subtitle {
  max-width: 55%;
  color: $color-white;
  @include font_20;
  margin: 35px 0 45px 0;
}

.disease__key-point {
  max-width: 55%;
  color: $color-lightGreen;
  @include font_24;
  margin: 0 0 51px;
}

.disease__description {
  max-width: 55%;
  color: $color-white;
  @include font_20;
  margin: 0;
}

.disease__text-highlite {
  color: $color-lightGreen;
}

.disease__images {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  position: absolute;
  top: 19%;
  right: 9%;
}

.disease__image {
  max-width: 100%;
}

@media (max-width: 320px) {
  



}
