.desease {
  color: $color-white;
}

.disease__wrapper {
  max-width: 1440px;
  padding: 79px 0 0;
  margin: 0 auto 0;
  position: relative;
}

.disease__article {
  background-color: $color-darkGrey;
  max-width: 71.5%;
  box-sizing: border-box;
  padding: 49px 0 64px 130px;
}

.disease__title {
  max-width: 450px;
  color: $color-white;
  @include font_32_h2;
  margin: 0;
}

.disease__subtitle {
  max-width: 55%;
  color: $color-white;
  @include font_20;
  margin: 35px 0 45px 0;
}

.disease__key-point {
  max-width: 55%;
  color: $color-lightGreen;
  @include font_24;
  margin: 0 0 51px;
}

.disease__description {
  max-width: 55%;
  color: $color-white;
  @include font_20;
  margin: 0;
}

.disease__text-highlite {
  color: $color-lightGreen;
}

// .disease__images {
//   display: flex;
//   flex-direction: column;
//   max-width: 40%;
//   position: absolute;
//   top: 19%;
//   right: 9%;
// }

.disease__image-one {
  max-width: 100%;
  position: absolute;
  top: 19%;
  right: 9%;
}

.disease__image-two {
  max-width: 100%;
  position: absolute;
  top: 55%;
  right: 9%;
  width:580px
}

@media (max-width: 320px) {
  .disease__wrapper {
    margin: 0;
    width: 320px;
  }

  .disease__article {
    padding: 22px 0 0;
    max-width: 100%;
  }

  .disease__title {
    @include font_22_h3;
    margin: 22px 10px 4px;
  }

  .disease__subtitle {
    @include font_16;
    margin: 0 10px 20px;
    max-width: 100%;
  }

  .disease__key-point {
    max-width: 100%;
    margin: 0 10px 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .disease__description {
    max-width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin: 0 10px 27px;
  }

  .disease__image-one {

    max-width: 100%;
    top: -90px;
    right: 0;
  }

  .disease__image-two {
    position: relative;
    max-width: 100%;
    height: 184px;
    top: 0;
    right: 0;
    margin: 0;
  }

}
